html {

    background-image: url(https://i.pinimg.com/originals/9d/68/d1/9d68d18a549914b819482e0364ea521c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}