html {
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#center-acme-font {
    font-family: 'Acme', sans-serif;
    text-align: center;
}

.intro {
    font-size: 2 em;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    margin: 50px 20px 20px 50px ;
}

.image-left {
    float: left;
    margin: 10px 50px;
} 

.top-right {
  display: inline;
}

.center-left {
    margin: 0 ;
    float: left;
}