html {

    background-image: url(https://previews.123rf.com/images/sonyakamoz/sonyakamoz1703/sonyakamoz170300116/73952908-old-rough-rustic-french-wooden-chopping-board-texture-and-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}